.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: $color-white;
  background-color: $color-blue;
  padding: 10px;
  border: 1px solid $color-blue;
  border-radius: 5px;
  cursor: pointer;
  transition: all $hover-effect-delay;

  &:hover {
    background-color: darken($color-blue, 5%);
  }

  &:disabled {
    background-color: $color-pale-grey;
    border-color: $color-pale-grey;
    cursor: default;
  }
}

.input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: solid 1px $color-pale-grey;
  border-radius: 4px;
  transition: border-color $hover-effect-delay;

  &:hover,
  &:focus {
    border-color: $color-dark;
  }

  &--invalid {
    border-color: $color-red;
  }
}
