@import "src/styles/variables";
@import "src/styles/elements";

.container {
  min-height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pin {
  width: 100%;
  max-width: 320px;
  padding: 15px;
  border-radius: 5px;
  background-color: $color-white;
  box-shadow: 0 1px 24px 0 $color-dark-opacity;

  &__title {
    text-align: center;
  }

  &__input {
    @extend .input;

    width: 4em;
    margin: 5px auto;

    &--invalid {
      @extend .input--invalid;
    }
  }

  &__error {
    font-size: 0.8em;
    color: $color-red;
    text-align: center;
  }

  &__button {
    @extend .button;

    display: block;
    width: 100%;
    margin-top: 15px;
  }
}
