<div class="container">
  <form class="pin" [formGroup]="pinForm" (ngSubmit)="submitPinForm()" novalidate>
    <h1 class="pin__title">Please input PIN</h1>
    <input
      type="text"
      id="pin"
      class="pin__input"
      placeholder="XXXX"
      autofocus
      autocomplete="off"
      formControlName="pin"
      appRestrictInput="only-numbers"
      appMaxLength="4"
      [ngClass]="{'pin__input--invalid': isPinInvalid}"
    >
    <div *ngIf="isPinFailed | async" class="pin__error">
      Incorrect pin
    </div>
    <div *ngIf="isPinInvalid" class="pin__error">
      Pin should be 4 characters long
    </div>
    <button type="submit" class="pin__button" [disabled]="isSubmitting">Confirm</button>
  </form>
</div>
