<div class="container">
  <aside class="sidebar">
    <ul class="sidebar__list">
      <li class="sidebar__item">
        <svg class="sidebar__icon">
          <use href="../../../assets/icons/sprite.svg#search"></use>
        </svg>
        GitHub Jobs
      </li>
      <li class="sidebar__item">
        <svg class="sidebar__icon">
          <use href="../../../assets/icons/sprite.svg#image"></use>
        </svg>
        Generate image
      </li>
    </ul>
  </aside>
  <main class="main">center</main>
</div>

